beautifulsoup4==4.9.3
bs4==0.0.1
colorama==0.4.4; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
importlib-metadata==3.10.0; python_version < "3.8" and python_version >= "3.6"
lxml==4.6.3; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
prettytable==2.1.0; python_version >= "3.6"
soupsieve==2.2.1; python_version >= "3.6"
typing-extensions==3.7.4.3; python_version < "3.8" and python_version >= "3.6"
wcwidth==0.2.5; python_version >= "3.6"
zipp==3.4.1; python_version < "3.8" and python_version >= "3.6"
